body {
  font-family: 'Nunito', sans-serif;
  background: var(--primary-color);
}

.app {
  background: var(--bg-color);
}


.dark {
  --primary-color: var(--dark-bg-color);
  --bg-color: var(--dark-bg-color);
  --title: var(--dark-title);
}

.container {
  width: 1200px;
  padding: 60px 0;
  margin: 0 auto;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.not-found-img {
  width: 600px;
  margin-bottom: 24px;
}

.not-found-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: var(--title);
}

.error {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.error-img {
  width: 600px;
}

.error-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: var(--title);
}

.loader-container {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 72px;
  height: 72px;
  border: 5px solid var(--green);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 