.comments-form-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 48px 0 24px;
  color: var(--title);
}

.comments-form-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  color: var(--title);
}

.comments-form-input {
  width: 100%;
  padding: 8px 18px;
  border-radius: 10px;
  border: 1px solid var(--border);
  resize: none;
  background: var(--primary-color);
  color: var(--title);
}

.comments-form-input:not(:last-child) {
  margin-bottom: 24px;
}

.comments-form-input:focus {
  outline: 2px solid var(--green);
}

.comments {
  margin-top: 40px;
}

.comments-item {
  position: relative;
  background: var(--primary-color);
  padding: 12px 16px 12px 40px;
  border: 1px solid var(--border); 
  border-radius: 8px;
  border-left: 4px solid var(--green);
}

.comments-item:not(:last-child) {
  margin-bottom: 16px;
}

.comments-item-star {
  position: absolute;
  top: 8px;
  left: -24px;
}

.comments-item-star svg {
  font-size: 40px;
  color: var(--yellow);
  position: relative;
}

.comments-item-star p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comments-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border);
}

.comments-item-date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--light-gray);
  font-size: 14px;
  gap: 8px;
}

.comments-item-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--title);
}

.comments-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--title);
}

.comments-form-button {
  padding: 12px 16px;
  border-radius: 8px;
  background: var(--green);
  color: #fff;
  transition: 0.2s ease;
}

.comments-form-button:hover {
  cursor: pointer;
  background: var(--green-hover);
}

.comments-form-bottom {
  display: flex;
  align-items: center;
  gap: 16px;
}

.comments-form-hide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments-form-hide svg {
  cursor: pointer;
  font-size: 24px;
  color: var(--green);
}