.comments-form-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 48px 0 24px;
  color: var(--black);
}

.comments-form-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.comments-form-input {
  width: 100%;
  padding: 8px 18px;
  border-radius: 10px;
  border: 1px solid var(--border);
  resize: none;
}

.comments-form-input:not(:last-child) {
  margin-bottom: 24px;
}

.comments-form-input:focus {
  outline: 2px solid var(--green);
}

.comments {
  margin-top: 40px;
}

.comments-item {
  padding: 12px 16px;
  border: 1px solid var(--border); 
}

.comments-item:not(:last-child) {
  margin-bottom: 16px;
}

.comments-item-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.comments-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}