.footer {
  padding: 36px 0 24px;
  background: var(--primary-color);
  box-shadow: 2px -8px 16px 0px rgba(35, 35, 35, 0.07);
}

.footer-top {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border);
}

.footer-bottom {
  width: 1200px;
  margin: 0 auto;
  padding-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.footer-bottom p {
  font-weight: 18;
  font-weight: 400;
  color: var(--gray);
}

.footer-logo {
  font-size: 32px;
  line-height: 36px;
  font-weight: 800;
  color: var(--title);
  margin-bottom: 16px;
}

.footer-link-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.footer-link-item {
  color: var(--gray);
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  transition: 0.2s ease;
}

.footer-link-item:hover {
  cursor: pointer;
  color: var(--title);
}

.footer-social-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  border: 3px solid var(--light-gray);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-item svg {
  font-size: 20px;
  color: var(--light-gray);
}